*{
    color:white;
}

body{
    background-color:wheat;
}
.container{
    width:800px;
    background-color :#0d5c63;
    margin-left:400px;
    margin-top:200px;
    border-radius:10px;
    
}
h2{
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    font-family:'Righteous',cursive;
}
p{
    font-family:'Roboto Slab' serif;
font-size: large;
margin-left:20px;
}
form{

margin-left:20px;
font-size: large;
font-weight: bolder;

}
input{
    width: 200px;
    padding:15px;
    margin: 10px;
    border-radius: 10px;
    color: #0d5c63;
    font-weight: bolder;
    font-size: large;
}
#labelBill{
    margin-right: 65px;
}
#calculator{
    padding: 20px;
    width: 200px;
    color: #0d5c63;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 235px;
    font-size: large;
    margin-top: 20px;
}
#calculator:hover{
    background-color: burlywood;
}
#total{
    text-align: center;
}